*, *::after, *::before{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box
}

footer {
    padding: 1.25rem;
    background-color: black;
    color: white;
}

footer a {
    color: white;
}

a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: black;
}

.active {
    color: tomato;
}

.main-menu {
    display: flex;
    gap: 15px;
    padding-top: 0.5rem;
    flex-wrap: wrap;
}

.main-menu > li {
    display: inline;
}

.dish {
    display: flex;
    flex-direction: column;
    padding: 30px 40px 30px 40px;
    border-radius: 35px;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    background-color: white;
}

.dish > p {
    display: block;
}

.dish:hover {
    border: 2px solid;
    border-radius: 35px;
    border-color: tomato;
}

a:hover {
    color: tomato;
}

a:active {
    color: tomato;
}

.container {
    max-width: 75%;
    margin: auto;
}

section {
    margin: 2rem;
}

header {
    background-color: rgb(206, 206, 154);
    padding: 1rem;
}

.dish-image > img {
    width: 100%;
    object-fit: cover;
    border-radius: 35px;
}

.price, .name {
    font-size: 1.2rem;
}

.size {
    color: gray;
}

.dish-button {
    background-color: #f1eee9;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    border-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex-grow: 1
}

html {
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-flow: row;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.dish-info {
    display:flex;
    flex-direction: column;
    height: 100%;
}

.dish-name-and-price {
    margin-bottom: 25px;
    flex-grow: 1;
}


@media all and (max-width: 800px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-menu {
        justify-content: space-between;
    }
}

@media all and (max-width: 600px) {
    .section-name {
        text-align: center;
    }

    .main-menu {
        flex-direction: column;
        align-items: center;
    }

    a {
        font-size: 20px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

}